<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Wiki for the Centers for Educational Equity &amp; Excellence</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light" style="background-color: #0066CC;">
        <a class="navbar-brand text-white" href="https://ce3-wiki.herokuapp.com">
          The Centers for Educational Equity &amp; Excellence
        </a>
      </nav>
      <div class="row m-4">
        <div class="col-3 bg-faded">
          <div id="search-form">
            <script>
              (function() {
                var cx = '009266444587039769792:hxe37xgipoq';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
          </div>
          <br>
          <div class="list-group hidden-x">
            <li href="" class="list-group-item list-group-item-heading font-weight-bold">
              <i class="fa fa-link fa-fw" aria-hidden="true"></i> Wiki Pages
            </li>
            <% @wiki_links.each do |link| %>
            <a href="<%= link %>" class="list-group-item list-group-action list-group-item-info">
              <% link = link.rpartition(":").last == "" ?  link : link.rpartition(":").last %>
              <% link = link.gsub!(/^\/*/, "") %>
              <%= link.gsub!(/\/*$/, "") %>
            </a>
            <% end %>
          </div>
          <br>
          <div class="list-group hidden-x">
            <li href="" class="list-group-item list-group-item-heading font-weight-bold">
              <i class="fa fa-external-link-square fa-fw" aria-hidden="true"></i> External Links
            </li>
            <% @external_links.each do |link| %>
            <a href="<%= link %>" class="list-group-item list-group-action list-group-item-warning" target="_blank">
              <% link = link.rpartition(":").last == "" ?  link : link.rpartition(":").last %>
              <% link = link.gsub!(/^\/*/, "") %>
              <%= link.gsub!(/\/*$/, "") %>
            </a>
            <% end %>
          </div>
        </div>
        <div class="col-9">
          <nav class="breadcrumb">
            <% @paths.each do |path| %>
            <% if path.downcase == "/"%>
            <a class="breadcrumb-item" href="<%= $host_url %>">
              <%= "Home" %>
            </a>
            <% else %>
            <a class="breadcrumb-item" href="<%= path %>">
              <%= path.rpartition(":").last %>
            </a>
            <% end %>
            <% end %>
            <span class="breadcrumb-item active"><%= @current_navitem %></span>
          </nav>
          <button class="btn btn-secondary float-right">Edit Page</button>
          <%= yield %>
        </div>
      </div>
    </div>
    <style type="text/css">
    .hidden-x {
    overflow-x: hidden;
    }
    </style>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>